.container.services {
    padding: 70px 0;
}

.enterprise-services-slider, .research-services-slider {
    cursor: grab;
}

.enterprise-services {
    margin-bottom: 40px;
}

.partner-companies {
    margin-top: 30px;
    text-align: left;
    color: #646665;
}

.services .row {
    margin: 30px 0;
}

.services .column {
    padding: 0;
    display: flex;
    justify-content: center;
}


.research-services {
    margin-top: 30px;
    background-color: #16163F;
    color: #fff;
    margin: 0 -100px;
    padding: 70px 100px;
}

.research-services .research-services-slider {
    display: flex;
    flex-direction: row;
}

.course {
    display: flex;
    flex-direction: column;
    margin: 70px 0 30px 0;
}

.course h1 {
    margin-bottom: 30px;
}

.course-paragraph {
    font-weight: 450;
    text-align: justify;
}

.course a {
    align-self: flex-start;
    border: 1px solid #16163F;
    border-radius: 20px;
    padding: 7px 12px;
    margin-top: 30px;
    transition: 0.4s;
}

.course a:hover {
    background-color: #16163F;
    color: #fff;
    text-decoration: none;
}

.container.services img {
    max-width: 800px;
}

@media (min-width: 950px) {
    .research-services-slider {
        cursor: default;
    }
}