.container.highlights {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.highlights .carousel {
    max-width: 600px;
    margin-top: 40px;
    align-self: center;
}

.carousel-title {
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 0 0 10px 10px;
}

.carousel-title:hover {
    text-decoration: underline;
}

.carousel-img {
    max-height: 500px;
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: relative;
    left: 0;
    padding: 3%;
    background-color: #16163F;
}

.carousel-indicators {
    padding-bottom: 10px;
}
