.custom-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #16163f;
    background-color: #16163f;
    color: #fff;
    max-height: 350px;
    max-width: 340px;
    margin: 20px 0 50px 0;
}

.custom-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #16163f;
    min-height: 70px;
}

.custom-card-body {
    overflow-y: auto;
    padding: 10px;
}

.custom-card-body::-webkit-scrollbar{
    background-color: #1d1d1d;
    width: 3px;
    border-radius: 5px;
}
  
.custom-card-body::-webkit-scrollbar-thumb{
    background-color: #646665;
}

.custom-card-text {
    display: flex;
    text-align: center;
    word-spacing: 5px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 20px;
}

.research-services-slider .custom-card {
    border: 1px solid #fff;
}