.article {
    display: flex;
    flex-direction: column;
}

.article span {
    font-size: 0.9em;
    font-weight: 500;
    padding-bottom: 30px;
}

.article p {
    text-align: justify;
    line-height: 1.6;
}

.article .download-btn {
    align-self: flex-start;
    margin-bottom: 20px;
}

.article .download-btn:hover {
    text-decoration: underline;
}

.article .btn {
    width: 150px;
    color: #16163F;
    border: 1px solid #16163F;
}

.article .btn:hover {
    background-color: #16163F;
    color: #fff;
}