.article {
    display: flex;
    flex-direction: column;
}

.article h1 {
    margin-bottom: 30px;
}

.article span {
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 30px;
}

.article p {
    padding-bottom: 20px;
    text-align: justify;
    line-height: 1.6;
}

.article .btn {
    width: 150px;
    color: #16163F;
    border: 1px solid #16163F;
}

.article .btn:hover {
    background-color: #16163F;
    color: #fff;
}