.container.last-articles {
    padding: 70px 0;
}

.last-articles h1 {
    padding-bottom: 30px;
}

.last-articles p {
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 3.5rem;
    line-height: 1.6;
}

.last-articles .btn {
    color: #16163F;
    border: 1px solid #16163F;
}

.last-articles .btn:hover {
    background-color: #16163F;
    color: #fff;
}