.new-article {
    margin: 0 -100px;
    background-color: #f8f8f8;
    height: 100%;
}

.form-article {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form-article label {
    margin-bottom: .5em;
    font-size: 1.4em;
    font-weight: 500;
}

.form-article input, textarea {
    margin-bottom: 1em;
    padding: .7em;
    border: 0;
    border-radius: 5px;
}

.form-article textarea {
    height: 200px;
}

.form-article button {
    border: 1px solid #16163F;
    border-radius: 20px;
    background-color: #16163F;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    transition: 0.4s;
}
.form-article button:hover {
    color: #16163F;
    background-color: #fff;
}

@media (max-width: 875px) {
    .form-article {
        width: 100%;
    }
}