.researchers {
    background-color: #16163F;
    color: #fff;
    padding: 70px 100px;
    margin: auto -100px;
}

.researchers h1 {
    text-align: center;
    margin-bottom: 40px;
}

.researchers .btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 40px;
}

.researchers .btn:hover {
    color: #16163F;
    background-color: #fff;
}

.researchers a {
    color: #fff;
}