.container.partnerships {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

.partnerships h1 {
    letter-spacing: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.partnerships .row {
    align-items: center;
    padding: 30px 0;
}

.partnerships .col {
    display: flex;
}

.partnerships img {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 50px;
}