.container.team {
    position: relative;
    padding: 70px 0;
}

.team h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 300px;
    font-size: 2.25rem;
    margin-bottom: 30px;
    word-break: break-word;
}

.team h2 {
    font-size: 2em;
}

.team .researches {
    margin: 50px 20px;
}

.team .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .card {
    background-color: #fff;
    border: none;
    text-align: center;
    margin-bottom: 50px;
}

.team .card-title a:hover {
    color: #16163F;
}

.team .card-title a{
    color:#16163F;
}

.team .card-text {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

.team .card-img-top {
    align-self: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.researcher-info {
    padding-bottom: 10px;
    height: 100px;
}

.researcher-info a, h4 {
    display: inline;
}

.team .btn {
    color:#16163F;
    border: 1px solid #16163F;
}

.team .btn:hover {
    background-color: #16163F;
    color: #fff;
}

.btn-div span {
    background-color: #16163F;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align:center;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.btn-div p {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 99;
    color: #fff;
    background-color: #16163F;
    text-align: justify;
    padding: 25px;
    width: 250px;
    visibility: hidden;
    border-radius: 20px;
}

.btn-div span:hover {
    cursor: pointer;
}

.btn-div span:hover p {
    visibility: visible;
}

@media (max-width: 362px) {

    .btn-div span {
        left: 0;
        bottom: 145px;
    }

    .btn-div p {
        left: 0;
    }

}