header{
    background-image: url("../../../public/img/header-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
    margin: auto -100px;
    padding: 20px 100px;
    min-height: 630px;
    max-height: 100%;
    color: #16163F;
}

.header-content {
    display: inline-block;
    position: relative;
    padding: 60px 0 50px 0;
}

.header-heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    width: 60%;
}

.header-paragraph {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: justify;
    padding-bottom: 3%;
    width: 50%;
}
