.last-videos {
    padding: 70px 0;
    background-color: #0074FF;
    margin: auto -100px;
    color: #fff;
}

.last-videos h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    margin-left: -15px;
}

.video {
    margin-left: -15px;
    padding: 40px 0;
}

.last-videos .btn {
    margin: -15px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 7px 20px;
}

.last-videos .btn:hover {
    color: #0074FF;
    background-color: #fff;
}