footer {
    margin: auto -100px;
    font-size: 0.75rem;
    color: #fff;
}

footer .footer {
    padding: 50px 20px;
    background-color: #101C45;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

footer img {
    max-width: 100%;
}

.footer-dev {
    background-color: #191A19;
    font-size: 0.6rem;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.footer-dev p {
    margin: 0;
    text-align: center;
}

footer a {
    color: #fff;
    font-size: 0.7rem;
}

footer a:hover {
    color: #fff;
}

@media (max-width: 766px) {

    .colored-section .footer {
        padding-left: 120px;
        padding-right: 120px;
    }

}