footer {
    position: relative;
    margin: auto -100px;
    align-content: center;
    font-weight: 400;
    font-size: 0.75rem;
    color: #fff;
}

footer .row {
    align-items: center;
}

.footer-geticom {
    background-color: #101C45;
    padding: 0 110px;
}

.footer-dev {
    font-size: 0.6rem;
    padding: 20px 100px 1px 100px;
    background-color: #191A19;
}

.footer-dev p {
    justify-self: center;
    text-align: center;
    align-self: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}