.testimonials {
    padding: 70px 0;
    background-color: #0074FF;
    margin: auto -100px;
    color: #fff;
}

.testimonials .carousel-caption {
    background-color: #0074FF;
    padding: 50px 100px;
}

.testimonials .carousel-caption h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.testimonials .carousel-caption p {
    margin-top: 50px;
}