.container.contacts {
    padding: 70px 0;
}


.contacts h1 {
    margin-bottom: 30px;
}

.contacts .row {
    margin: 0;
}

.contact-detail {
    margin-bottom: 40px;
}

.contact-detail p {
    margin-bottom: 5px;
}

.contact-detail svg {
    margin-right: 5px;
}