.not-found .btn {
    position: absolute;
    top: 400px;
    text-decoration: none;
    color: #16163F;
    border: 1px solid #16163F;
    border-radius: 20px;
    padding: 7px 20px;
    font-weight: 600;
    font-size: 1rem;
}

.not-found .btn:hover {
    color: #fff;
    background-color: #16163F;
}